certifi==2020.12.5
chardet==4.0.0
debtcollector==2.2.0
idna==2.10
iso8601==0.1.13
keystoneauth1==4.3.0
msgpack==1.0.2
netaddr==0.8.0
netifaces==0.10.9
os-service-types==1.7.0
oslo.config==8.4.0
oslo.i18n==5.0.1
oslo.serialization==4.0.1
oslo.utils==4.10.1
packaging==20.8
pbr==5.5.1
pfmisc==2.2.2
psutil==5.8.0
pudb==2020.1
Pygments==2.7.4
pyparsing==2.4.7
python-keystoneclient==4.2.0
python-swiftclient==3.11.0
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
rfc3986==1.4.0
six==1.15.0
stevedore==3.3.0
urllib3==1.26.2
urwid==2.1.2
WebOb==1.8.6
wrapt==1.12.1
